@media screen and (max-width: 780px) {
  #wrap {
    max-width: 100%;
    margin: 0 auto;
  }
  body > div#wrap:before {
    width: 100%;
    height: 14vh;
    background: linear-gradient(#333 15%, rgba(51, 51, 51, 0) 60%);
    opacity: 0.85;
    
  }
  #wrap .header .lnb .nav{
    width: 100%;
    max-width: 780px;
  }
  .lnb .nav li:first-child {
    margin-left: 30px;
  }
  .lnb .nav li.gnb {
    display: none;
  }

.nav li.common{
    position: relative;
    right: 16px;
  }
  .lnb .nav li .common_links .common_menu li a img {
    width: 25px;
    margin-left: 10px;
  }
  .lnb .nav li .common_links .common_menu li:first-child,
  .lnb .nav li .common_links .common_menu li:nth-child(3) {
    display: none;
  }
  .lnb .nav li .common_links .common_menu li:last-child {
    display: block;
  }
  .main_content .top_visual {
    height: 340px;
    z-index: 100;
  }
  .top_visual .bx-prev,
  .top_visual .bx-next {
    font-size: 30px;
    z-index: 200;
    z-index: 10000;
    display: block;
  }
  .top_visual .bx-prev {
    top: 130px;
    left: 30px;
  }
  .top_visual .bx-next {
    top: 130px;
    right: 30px;
  }
  .main_content .top_visual .main_slider p {
    top: 100px;
    left: 100px;
    font-size: 20px;
    z-index: 400;
  }
  .top_visual .main_slider p.text_h{
    top: 70px;
  }
  .main_content .top_visual .main_slider p.p-title {
    top: 130px;
    right: 55px;
    font-size: 14px;
  }
 
  .top_visual button {
    position: absolute;
    top: 168px;
    left: 100px;
  }
  .top_visual button a {
    z-index: 10000;
    display: block;
  }
  .main_campaign {
    width: 100%;

    max-width: 780px;
    padding: 0;
  }
  img {
    max-width: 780px;
  }
 
  .widget {
    width: 100%;
    max-width: 780px;
  }
  .widget_header_region {
    width: 100%;
    max-width: 780px;
  }

  .footer-utils .footer-link{
    font-size: 12px;
    margin-left: 20px;
    max-width: 780px;
  }
  .footer-utils img{
    margin-top: -10px;
    width: 50px;
  }
}


@media screen and (max-width:480px) {
  #wrap {
    max-width: 100%;
    margin: 0 auto;
  }
  #wrap .header .lnb .nav {
    width: 100%;
    max-width: 480px;
}
  .top_visual{
    max-width: 480px;
  }
  .top_visual img{
    max-width: 490px;
    height: 250px;
  }
  .main_campaign{ 
    margin-top: -60px;
  }
.main_story .img img{
  width: 480px;
}
.main_story .related_list{
  margin-left: 30px;
}
.main_story .related_list li{
  width: 150px;
}
.widget_header_region{
  margin-top: 30px;
}
.footer{
  padding-bottom: 10px;
}
.footer-common{
  margin-left: 70px;
}
.footer-utils .footer-link li:nth-child(5),
.footer-utils .footer-link li:nth-child(6),
.footer-utils .footer-link li:nth-child(7){
display: none;
}
.footer-utils .footer-link{
  max-width: 480px;
}
.footer-utils p{
  width: 280px;
  margin:0 auto;
  padding: 7px 0;
}
.footer-utils p.small{
  width: 500px;
  padding: 0;
}
.w3c{
  margin-top: 20px;
  
}

}


