@charset "utf-8";

/* 상단메뉴바  header*/

body > #wrap:before {
  content: '';
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height:180px;
  background: linear-gradient(#333 5%, rgba(51, 51, 51, 0) 50%);
  border-bottom: 0;
  opacity: 0.9;
}
#wrap {
  width: 100%;
}
#wrap .header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  text-align: left;
}
#wrap .header .lnb {
  width: 100%;
  position: relative;
}
#wrap .header .lnb .nav {
  max-width: 1280px;
  margin: 0 auto;
  height: 64px;
}
.nav li {
  height: auto;
}
/* 로고 이미지 */
.nav li.HERA_Logo {
  margin: 25px 0 0 0;
  padding-right: 8px;
  z-index: 300;
}
.nav li .width100 {
  width: 100%;
  background-color: #fafafa;
  left: 0;
  top: 64px;
  z-index: 9999999;
  position: absolute;
  padding: 0;
  height: 0;
  overflow: hidden;
}
/* gnb 드롭다운 */
.nav li:hover .width100 {
  height: auto;
  padding: 35px 0 0 200px;
}

.nav li .gnb_tit {
  display: block;
  line-height: 64px;
  font-size: 15px;
  padding: 5px 25px 0px 25px;
  color: #fff;
  font-family: 'NotoSans';
}
.nav li .gnb_tit:hover{
  color: #000;
}
.nav li .width100 .dep2 {
  max-width: 1280px;
  margin: auto;
  color: #666;
}
.nav li .width100.width100.hg1 .dep2 {
  padding-bottom: 14%;
}
.nav li .width100.hg1 .dep2 li {
  margin-right: 110px;
}

.nav li .width100.hg1 .dep2 li a {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid #d1cdcd;
}
.nav li .width100.hg2 .dep2 li {
  margin-right: 60px;
}
.nav li .width100.hg2 .dep2 li img {
  display: block;
  padding-bottom: 10px;
}
.nav li .width100.hg2 .dep2 li.gnb_figure p {
  padding-bottom: 50px;
}
.nav li .width100.hg2 ul li ul {
  padding-top: 30px;
}
.nav li .width100.hg2 .dep2 ul li a {
  line-height: 25px;
  font-size: 14px;
}
.nav li .width100.hg2 .dep2 ul li a:hover{
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom:3px;
}
.nav li .width100.hg2 .dep2 ul li:first-child a:hover{
border-bottom: 0;
color:#333;
}
.nav li .width100 .dep2 li.sub_tit ul li span {
  border-bottom: 1px solid #d1cdcd;
  display: inline-block;
  width: 173px;
}
.nav li .width100 .dep2 a.m1_tit {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  display: block;
  padding-bottom: 3px;
}
.nav li .width100 .dep2 .sub_tit ul li span a {
  font-size: 16px;
}
/* common_links */
.common_links .common_menu ul li {
  padding: 22px 4px 0 0;
}
.common_links .common_menu ul li:last-child {
  padding-right: 0;
  display: none;
}
.common_links .common_menu a span {
  display: inline-block;
  text-indent: -9999em;
}
.common_links .common_menu a img {
  width: 20px;
  z-index: 999;
}

/* main-contnte */

.top_visual {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  height: 685px;
}
.top_visual  .bx-prev,
.top_visual  .bx-next{
  position: absolute;
  font-size: 70px;
  font-weight: lighter;
  color: #333;
}
.top_visual  .bx-prev{
  top: 280px;
  left: 60px;
}
.top_visual  .bx-next{
  top: 280px;
  right:60px;
}

.top_visual .main_slider p{
  position: absolute;
  top: 270px;
  left:300px;
  font-size: 32px;
  color: #000;
  font-weight: 600;
}
.top_visual .main_slider p.text_h{
  top: 230px;
}
.top_visual .main_slider p.p-title{
  font-size: 16px;
  top:325px;
  right: 742px;
  font-weight: normal;
}
.top_visual button{
  position: absolute;
  top:365px;
  left: 300px;
  
}
.top_visual button a{
  color: #fff;
  background: #000;
  padding: 10px 20px;
  border:1px solid transparent ;
}
.top_visual button a:hover{
  color: #000;
  background: #fff;
  border:1px solid #000 ;
}
/* main_campaign */
.main_campaign {
  max-width: 1920px;
  margin: 0 auto;
  padding: 78px 0 30px;
}
.img_link {
  display: block;
}
.main_campaign .h2-p{
  padding-bottom: 30px;
}
.main_tit {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #000;
  letter-spacing: -0.03em;
}
.main_campaign .img1 {
  text-align: center;
  width: 100%;
}

.main_sub {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #666;
  display: block;
}
.main_sub img {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 5px;
}
/* main_story */
.main_story {
  max-width: 1920px;
  margin: 0 auto;
  padding: 35px 0 0;
}
.main_story .inner {
  max-width: 1044px;
  margin: 0 auto;
  box-sizing: border-box;
}
.main_story .img {
  margin-top: 20px;
  width: 100%;
  max-width: 1044px;
}
/* main_story > related_list */
.main_story .related_list {
  margin-top: 50px;
  font-size: 0;
  box-sizing: border-box;
  text-align: center;
}
.main_story .related_list li {
  display: inline-block;
  vertical-align: top;
  width: calc(25% - 30px);
  margin-right: 40px;
  text-align: left;
}
.main_story .related_list li a {
  display: block;
}
.main_story .related_list li img {
  width: 178px;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.main_story .related_list li h3 {
  margin-top: 45px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.main_story .related_list li p {
  margin-top: 14px;
  font-size: 16px;
  color: #666;
}
.main_story .related_list li:last-of-type,
.main_story .related_list li:nth-of-type(4n) {
  margin-right: 0;
}
/* widget */
.widget {
  width: 1044px;
  margin: 0 auto;
}
.widget_header_region {
  margin-top: 65px;
}
.widget_header {
  width: calc(100% - 100px);
}
.widget_header {
  display: block;
  text-align: center;
  position: relative;
  overflow: visible;
  margin: 0 auto;
  min-height: 40px;
}
.header_wrapper {
  position: relative;
  padding-bottom: 8px;
  font-family: 'Montserrat', sans-serif;

}
.header_wrapper h2 {
  font-size: 34px;
  color: #323a45;
  font-weight: 600;
  padding-bottom: 5px;
}
.header_wrapper p{
  margin: 0 auto;
  line-height: 1.5;
  color: #4d5866;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
.header_wrapper a img{
  vertical-align: middle;
  margin-left: -10px;
}
.header_wrapper a span{
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding-left: 7px;
}
.widget_header_region{
  width: 1100px;
  margin: 0 auto;
}
.bx-slider{
  margin-bottom: 120px;
}
.bx-slider-inner{
 max-width: 1058px;
 margin: 0 auto;
}
.bx-slider-inner .bx-wrapper {
  max-width: 1045px!important;
  position: relative;
}
.bx-wrapper .bx-viewport .gallery li{
  width: 250px !important;
  margin-right: 10px !important;
}

.bx-wrapper .bx-viewport .gallery li img{
  width: 250px;
  height: 250px;
}
.bx-slider .gallery li {
  width: 250px;
  height: 100%;
  margin: 0px 7px;
  padding: 0;
  background-color: #ebedf3;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}


.bx-slider .bx-controls-direction .bx-prev{
background:url(../images/prev-01025e7a2582b2e7022c70a4e2fe57854c0e5552fe15113961556acbbb265fe6.png) no-repeat center center;
position: absolute;
top: 0;
left: 0;
text-indent: -99999em;
width: 50px;
height: 250px;
background-color: #efefef;
opacity: 0.8;
}
.bx-slider .bx-controls-direction .bx-next{
background:url(../images/next-6129ae65f9752efd8b4e9e6b897a17573a8319fcbaf63c95d2276a2b51a116e8.png) no-repeat center center;
position: absolute;
top: 0;
right: 0;
text-indent: -99999em;
width: 50px;
height: 250px;
background-color: #efefef;
opacity: 0.8;
}

/* footer */
.footer {
  border-top: 1px solid #efefef;
  background-color: #fafafa;
  font-weight: 100;
  font-size: 1.4rem;
  text-align: center;
}
.l-footer {
  max-width: 1108px;
  margin: auto;
}
.footer-common{
  margin-top: 30px;
}
.footer-common ul {
  width: 400px;
  margin:0 auto ;
  display: flex;
}
.footer-common ul li{
  width: 25%;
  
}
.footer-common ul li a{
  text-indent: -99999px;
  display: block;
}
.footer-common ul li:first-child a{
  background: url(../images/sns_facebook_renew.png) no-repeat;
  background-size: 30px;
  height: 30px;
}
.footer-common ul li:nth-child(2) a{
  background: url(../images/sns_youtube_renew.png) no-repeat;
  background-size: 30px;
  height: 30px;
}
.footer-common ul li:nth-child(3) a{
  background: url(../images/sns_instagram_renew.png) no-repeat;
  background-size: 30px;
  height: 30px;
}
.footer-common ul li:last-child a{
  background: url(../images/sns_kakao_renew.png) no-repeat;
  background-size: 30px;
  height: 30px;
}
.footer-utils{
  font-size: 14px;
  margin: 20px 0;
}
.footer-utils a{
  color: #666;
}
.footer-utils .footer-link{
  display: flex;
  width: 900px;
  margin: 0 auto;
}
.footer-utils .footer-link li{
  padding:0 10px;
  position: relative;

}
.footer-utils .footer-link li:first-child:before{
  display: none;
}
.footer-utils .footer-link li::before{
  width: 1px;
    height: 14px;
    background-color: #d1cdcd;
    position: absolute;
    top: 3px;
    left: 0px;
    content: "";
}
.footer-utils .footer-link li:nth-child(3) a{
  color: #333;
  font-weight: 600;

}
.footer-utils p{
  margin-top: 10px;
  color: #666;
}
.footer-utils p.small{
  font-size: 12px;
}